.navbar-app {
  background-color: black;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px 0 20px;

  &__icon {
    align-items: center;
    color: white;
    cursor: default;
    display: flex;
    margin: 0;
  }

  &__navigation {
    display: flex;
  }

  &__navigation-menu {
    display: flex;
    align-items: center;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  &__navigation-item {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 25px;
    text-transform: uppercase;

    &-link {
      text-decoration: none;
      color: gray;

      &:hover,
      &--active {
        color: white;
      }
    }
  }
}