.dashboard {
  background-color: #eee;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  &__container-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__card {
    border-radius: 3px;
    height: 50%;
    width: 45%;
  }

  &__card-text {
    background-color: #eee;
    border-radius: 3px;
    font-family: sans-serif;
    margin: 20px;
    padding: 20px;
    width: 45%;

    &-title {
      font-size: 50px;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }

    &-subtitle {
      font-size: 21px;
      font-weight: 200;
    }
  }

  &__container-link {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 300px;
  }

  &__container-spinner {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    &__container {
      padding: 0;
    }

    &__container-promo {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__card {
      height: 50%;
      margin: 0;
      width: 100%;
    }

    &__card-text {
      margin: 0;

      &-title {
        font-size: 21px;
      }
  
      &-subtitle {
        font-size: 12px;
      }
    }

    &__container-link {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}